{% extends "network/layout.html" %}
{% load static %}
{% load template_filters %}

{% block body %}
    <h2>All Posts</h2>

    {% if user.is_authenticated %}
    <div id="box" style="margin: 10px; border: 1px solid GainsBoro">
        <div id="new_post" style="padding: 10px; margin: 10px">
            <h4>New Post </h4>
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <textarea id="text" name="text" style="width: 100%; border: 1px solid GainsBoro"></textarea>
                <input type="submit" class="btn btn-primary" value="Post">
            </form>
        </div>
    </div>
    {% endif %}

    {% for post in page_obj %}
    <div class="{{ post.id }}" id="post_box">
        <div class="div2" style="padding: 10px; margin: 10px">
            <a href="{% url 'profile' post.poster.id %}" class="poster"><h2>{{ post.poster }}</h2></a>
            <div class="for_edit"><br><p class="content" style="font-size:20px">"{{ post.content }}"</p></div>
            <button style="display:inline-block; color:red" id="likes" onclick="count_likes({{ post.id }})">
                {% with total=post.like_post.all|get_item:request.user %}
                    {% if total == 1 %}
                        &#x2665;
                    {% else %}
                        &#x2661;
                    {% endif %}
                {% endwith %}
            </button>
            <h6 style="display:inline-block;" class="likes">{{ post.like_post.all|length }}</h6>
            <h6 style="color:darkgrey; font-size:14px">{{ post.time }}</h6>

            {% if post.poster == request.user %}
            <button id="edit" class="btn btn-warning" onclick="edit_post({{ post.id }})">Edit</button>
            <button id="delete" class="btn btn-danger" onclick="delete_post({{ post.id }})">Delete</button>
            {% endif %}

            <button id="comment_button" type="button" class="btn btn-light" onclick="view_comment({{ post.id }})">View & Add Comments({{ post.commented_post.all|length }})</button>
            <div class="view_all_comment" id="{{ post.id }}" style="display: none">
                <ul class="ul">
                {% with all_comments=post.commented_post.all %}
                {% for i in all_comments %}
                    <li class="{{ i.id }}" style="padding:3px; margin:3px"><a href="{% url 'profile' i.commentor.id %}">{{ i.commentor }}</a>: <strong>{{ i.comment }}</strong>({{ i.time }})
                        {% if request.user == i.commentor %}
                        <button type="button" style="font-size:10px" class="btn btn-link" onclick="delete_comment({{ i.id }}, {{ post.id }})">[delete]</button>
                        {% endif %}
                    </li>
                {% endfor %}
                {% endwith %}
                </ul>
                <div class="new">
                    <input type="text" class="new_comment">
                    <button type="button" class="btn btn-info" onclick="add_comment({{ post.id }})">Add</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block script %}
    <script type="javascript" src="{% static 'network/inbox.js' %}"></script>
{% endblock %}